@using RTB.BlazorUI.Extensions

@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string? Title { get; set; }
}

<div class="Card @Class">
    <Styled Context="CardClass">
        <Size FullHeight />

        <Stack Class="@CardClass" Vertical AlignItem="@Flex.Align.Center">
            @if (!string.IsNullOrEmpty(Title))
            {
                <div class="header">
                    @Title
                </div>
            }

            @ChildContent
        </Stack>
    </Styled>
</div>
