@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Rendering

@inherits RTBComponent
@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public BreakPoint? BreakPoint { get; set; }

    [Parameter] public bool NoAutoMargin { get; set; } = false;
}

<Styled Context="ContainerClass" Media="@BreakPoint">
    <Margin Horizontal="@Spacing.Auto" Condition="@(!NoAutoMargin)" />

    <div class="@CombineClass("rtb-container", ContainerClass, Class)">
        @ChildContent
    </div>
</Styled>