@using RTB.Blazor.UI.Extensions

@inherits RTBComponent

@code {
    [Parameter, EditorRequired] public RenderFragment ActionContent { get; set; } = default!;
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;
}

<Styled Context="ComponentClass">
    <Other Property="position" Value="relative" />
    <Other Property="cursor" Value="pointer" />

    <Selector Query="&:hover div">
        <Other Property="visibility" Value="visible" />
    </Selector>

    <div class="@ComponentClass @(Class)"
    >
        @ActionContent

        <Styled Context="ChildContentClass">
            <Other Property="z-index" Value="1000" />
            <Other Property="position" Value="absolute" />
            <Positioned Top="SizeUnit.Percent(100)" Left="0" />
            <Other Property="visibility" Value="hidden" />
            <Size MinWidth="@SizeUnit.Percent(100)" />
            
            <div class="@ChildContentClass">
                @ChildContent
            </div>
        </Styled>
    </div>
</Styled>