@inherits RTBComponent
@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
}

<div class="bg-white @(CapturedAttributes.TryGetValue("class", out var classes) ? classes : string.Empty)"
    @attributes="@CapturedAttributes.Where(ca => ca.Key != "class")">
    @ChildContent
</div>
