@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@using RTB.BlazorUI.Services.Theme

@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string? Title { get; set; }
}
<Styled Context="ComponentClass">
    <div class="Card @ComponentClass @Class"
        @attributes="@CapturedAttributes">
        <Stack FullHeight Vertical AlignItem="@CssHelper.AlignItems.Center">
            @if (!string.IsNullOrEmpty(Title))
            {
                <div class="header">
                    @Title
                </div>
            }

            @ChildContent
        </Stack>
    </div>
</Styled>
