@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public bool NoShadow { get; set; } = false;
    [Parameter] public string? Title { get; set; }

    private string card = "card";
}

<Styled @bind-Classname="@card">

</Styled>

<div class="@(ClassBuilder.Create("bg-white rounded p-2").AppendIf("shadow", !NoShadow).Append(CapturedAttributes.GetValueOrDefault<string>("class")).Build())"
    @attributes="@CapturedAttributes.Without("class")">
    <FlexLayout FullHeight IsVertical class="items-center">
        @if (!string.IsNullOrEmpty(Title))
        {
            <div class="border-b-[2px] border-slate-300 pt-4 pb-2 px-2 w-full">
                @Title
            </div>
        }

        @ChildContent
    </FlexLayout>
</div>
