@using RTB.BlazorUI.Extensions

@inherits RTBComponent

@code {
    [Parameter, EditorRequired] public RenderFragment ActionContent { get; set; } = default!;
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;
}

@* <Styled Context="ComponentClass">
    &.group:hover {
        .collapse {
            visibility: visible;
        }
    }

    .collapse {
        visibility: hidden;
        transition: visibility 0.2s ease-in-out;
    }
</Styled> *@

<Styled Context="ComponentClass">
    <Other Property="position" Value="relative" />
    <Other Property="display" Value="inline-block" />
    <Other Property="cursor" Value="pointer" />
    <Other Property="z-index" Value="10" />

@* <Styled Context="ComponentClass">
    <Other Property="position" Value="absolute" />
    <Positioned Top="100%" Left="50%" />
    <Other Property="transform" Value="translateX(-50%)" />
    <Other Property="z-index" Value="20" />
    <Other Property="visibility" Value="hidden" />
</Styled> *@

    <div class="@ComponentClass group @(CapturedAttributes?.GetValueOrDefault<string>("class"))" @attributes="@(CapturedAttributes?.Without("class"))">
        @ActionContent

        <div class="collapse">
            @ChildContent
        </div>
    </div>
</Styled>