@using RTB.BlazorUI.Extensions

@inherits RTBComponent

@code {
    [Parameter, EditorRequired] public RenderFragment ActionContent { get; set; } = default!;
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;

    private string? ContentClass;
}

<Styled @bind-Classname="ComponentClass">
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 10;

    &.group:hover {
        .collapse {
            visibility: visible;
        }
    }

    .collapse {
        visibility: hidden;
        transition: visibility 0.2s ease-in-out;
    }
</Styled>

<Styled @bind-Classname="ContentClass">
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
</Styled>

<div class="@ComponentClass group @(CapturedAttributes.GetValueOrDefault<string>("class"))" @attributes="@(CapturedAttributes.Without("class"))">
    @ActionContent

    <div class="@ContentClass collapse">
        @ChildContent
    </div>
</div>

@code {

}
