@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@inherits RTBComponent

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool InitialExpanded { get; set; } = false;

    [Parameter]
    public EventCallback<bool>? ExpandedChanged { get; set; }
}

<FlexLayout Column Class="@ClassBuilder.Create("ExpansionPanel", Class).Build()" @attributes="@CapturedAttributes?.Without("class")" Style="@Style">
    <FlexLayout Row Class="gap-2">
        @Header

        <button @onclick="Toggle">
            @if (isExpanded)
            {
                <span>Collapse</span>
            }
            else
            {
                <span>Expand</span>
            }
        </button>
    </FlexLayout>
    <div class="@(isExpanded ? "visible" : "collapse")">
        @ChildContent
    </div>
</FlexLayout>

@code{
    private bool isExpanded = false;

    private void Toggle()
    {
        SetProperty(ref isExpanded, !isExpanded);
        ExpandedChanged?.InvokeAsync(isExpanded);
    }
}
