@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@using static RTB.BlazorUI.Helper.CssHelper

@inherits RTBComponent

@code {
    [Inject] protected IStyled Styled { get; set; } = default!;

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    [Parameter] public bool IsHorizontal { get; set; } = false;
    [Parameter] public bool IsVertical { get; set; } = false;

    [Parameter] public string? Gap { get; set; }

    [Parameter] public string Direction { get; set; } = FlexDirection.Row;
    [Parameter] public string AlignItem { get; set; } = AlignItems.Start;
    [Parameter] public string JustifyContent { get; set; } = CssHelper.JustifyContent.Start;

    protected override async Task OnParametersSetAsync()
    {
        ComponentClass = await Styled.CssAsync(
            RTBStyle
                .Append("display", "flex")
                .Append("flex-direction", GetDirection())
                .Append("align-items", AlignItem)
                .Append("justify-content", JustifyContent)
                .AppendIfNotEmpty("gap", Gap)
                .Build()
        );
    }
}

<div class="@ClassBuilder.Create("FlexLayout", ComponentClass, Class).Build()" @attributes="@CapturedAttributes?.Without("class", "style")">
    @ChildContent
</div>

@code {
    private string GetDirection()
    {
        return IsHorizontal ? "row" : IsVertical ? "column" : Direction;
    }
}