@code {
    [Parameter] public bool IsHorizontal { get; set; } = false;

    [Parameter] public bool IsVertical { get; set; } = false;

    [Parameter] public int Gap { get; set; } = 0;

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object?> CapturedAttributes { get; set; } = new();
}

<div class="flex gap-@Gap @(IsHorizontal ? "flex-row" : string.Empty) @(IsVertical ? "flex-col" : string.Empty) @(CapturedAttributes.TryGetValue("class", out var classes) ? classes : string.Empty)"
     @attributes="@(CapturedAttributes.Where(kvp => kvp.Key != "class"))"
>
    @ChildContent
</div>
