@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@using RTB.BlazorUI.Interfaces

@inherits RTBComponent

@code {
    [Parameter]
    public string Columns { get; set; } = "1fr";

    [Parameter]
    public string Rows { get; set; } = "1fr";

    [Parameter] public bool FullHeight { get; set; } = false;

    [Parameter] public bool Center { get; set; } = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}

<div class="@(ClassBuilder.Create("grid").AppendIf("h-full", FullHeight).AppendIf("place-items-center", Center).AppendIf((string?)CapturedAttributes.GetValueOrDefault("class") ?? string.Empty, () => CapturedAttributes.ContainsKey("class")).Build())"
    style="grid-template-columns: @Columns; grid-template-rows: @Rows;"
     @attributes="@(CapturedAttributes.Without("class"))"
>
    @ChildContent
</div>