@using RTB.BlazorUI.Extensions

@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public int Column { get; set; } = 0;
    [Parameter] public int ColumnSpan { get; set; } = 1;
    [Parameter] public int Row { get; set; } = 0;
    [Parameter] public int RowSpan { get; set; } = 1;
}

<Styled Context="ComponentClass">
    <Other Property="grid-column" Value="@($"{(Column > 0 ? Column : "auto")} / span {ColumnSpan}")" />
    <Other Property="grid-row" Value="@($"{(Row > 0 ? Row : "auto")} / span {RowSpan}")" />
    
    <div
        class="@CombineClass("rtb-grid-item", ComponentClass, Class)"
    >
        @ChildContent
    </div>
</Styled>
