@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@using RTB.BlazorUI.Services.Theme
@using RTB.BlazorUI.Services.Theme.Themes

@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string? Color { get; set; }
}

<Styled @bind-Classname="ComponentClass">
    background-color: @(Color);
</Styled>

<div class="@ComponentClass @(CapturedAttributes.GetValueOrDefault<string>("class"))" @attributes="@CapturedAttributes.Without("class")">
     @ChildContent
</div>