@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public bool NoShadow { get; set; } = false;
}

<div class="@(ClassBuilder.Create().Append("bg-white rounded p-2").AppendIf("shadow", !NoShadow).Append(CapturedAttributes.GetValueOrDefault<string>("class")).Build())"
     @attributes="@CapturedAttributes.Without("class")">
     @ChildContent
</div>
