@inherits RTBComponent

@typeparam TItem

@code {
    [Parameter] public IEnumerable<TItem> Items { get; set; } = default!;
    [Parameter] public RenderFragment<TItem>? OptionTemplate { get; set; }
    [Parameter] public EventCallback<TItem?> OnChange { get; set; } = default!;
}

@(
((__builder) => {
    __builder.AddContent(0, "1");
})
)
<select @onchange="@(e => OnChange.InvokeAsync((TItem?)e.Value))" @attributes="CapturedAttributes">
    @foreach(var item in Items)
    {
        <option value="@item">
            @OptionTemplate?.Invoke(item)
        </option>
    }
</select>
