@inherits RTBComponent

@typeparam TOption

@code {
    [Parameter] public IEnumerable<TOption> Options { get; set; } = default!;
    [Parameter] public RenderFragment<TOption>? OptionTemplate { get; set; }
    [Parameter] public EventCallback<TOption?> OnChange { get; set; } = default!;
}

<select @onchange="@(e => OnChange.InvokeAsync((TOption?)e.Value))" @attributes="CapturedAttributes">
    @foreach(var item in Options)
    {
        <option value="@item">
            @OptionTemplate?.Invoke(item)
            @if (OptionTemplate is null)
            {
                <p>@item?.ToString()</p>
            }
        </option>
    }
</select>
