@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Forms
@using RTB.BlazorUI.Components

@inject IJSRuntime JSRuntime

@inherits RTBComponent

@code {
    [Parameter] public string[] AcceptedTypes { get; set; } = [];
    [Parameter, EditorRequired] public string Id { get; set; } = string.Empty;
    [Parameter] public EventCallback<IBrowserFile[]> OnInput { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public bool Multiple { get; set; } = false;
}


<label id="@(Id)Zone"
       for="@Id"
       @attributes="CapturedAttributes">
    @ChildContent
</label>

<InputFile id="@Id" OnChange="HandleChange" multiple="@Multiple" hidden />

@code {

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("initDragDropInterop", $"{Id}Zone", Id);
    }

    private async Task HandleChange(InputFileChangeEventArgs args)
    {
        var files = args.GetMultipleFiles()
                        .Where(f => AcceptedTypes.Any(t => f.ContentType.Equals(t, StringComparison.OrdinalIgnoreCase)))
                        .ToArray();

        if (files.Length == 0)
        {
            Console.WriteLine("Dropped content was not a supported file type.");
            return;
        }


        if (OnInput.HasDelegate)
        {
            await OnInput.InvokeAsync(files);
        }
    }
}