@inherits RTBComponent

<Styled Context="BusyIndicator">
    <Size FullHeight FullWidth />
    <Grid ItemPlacement="@Place.Center" />

    <div class="@BusyIndicator">
        <Text>.</Text>
    </div>
</Styled>

@code {

}
