@using static RTB.BlazorUI.Styles.Components.Overflow

@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    [Parameter] public OverflowMode? X { get; set; }
    [Parameter] public OverflowMode? Y { get; set; }
    [Parameter] public OverflowMode? Value { get; set; }
}

<Styled Context="ComponentClass">
    <Overflow X="@X" Y="@Y" Value="@Value" />

    <div class="Overflow @ComponentClass @Class">
        @ChildContent
    </div>
</Styled>
