@inherits RTBComponent

<Styled Context="BusyIndicator">
    <Size FullHeight FullWidth />
    <Grid ItemPlacement="@Grid.Placement.Center" />

    <div class="rtb-busyindicator @BusyIndicator">
        .
    </div>
</Styled>
