@using Microsoft.Extensions.Logging
@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Services

@inject IJSRuntime JSRuntime
@inject IDragDropService DragDropService
@inject ILogger<DraggableItem<TData>> Logger
@inherits RTBComponent

@typeparam TData

<div class="active:grabbing @(Class)"
     draggable="true"
     @ondragstart="HandleDragStart">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public TData? ItemData { get; set; } // Data associated with the item

    private void HandleDragStart(DragEventArgs args)
    {
        // Store data using the service
        DragDropService.StartDrag(ItemData);
        args.DataTransfer.EffectAllowed = "move"; // Still useful to set the visual cue
        Logger.LogDebug($"Drag Start: {ItemData}");
    }
}
